@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #fff;
  --secondary-color: #f3f7ff;
  --accent-color: #153d8a;
  --light-accent-color: #d3dbe9;
  --text-color: #7c7c8d;
}

body {
  max-width: 100%;
  background: var(--secondary-color);
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "nav nav "
  "sidebar main";

}

/* Navigation bar */

.nav-bar {
  width: 100%;
  height: 125px;
  display: flex;
  align-items: center;
  background: var(--main-color);
  gap: 20px;
  grid-area: nav;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.search-bar-container {
  width: 300px;
  display: flex;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 0 10px;
  flex: 1.5;
}

.search-bar {
  width: 100%;
  height: 45px;
  font-size: 16px;
  padding: 5px;
  outline: none;
  background: transparent;
  border: none;
  caret-color: var(--accent-color);
}

.search-bar-container .icon{
  color: #7c7c8d;
}

.logo {
  padding: 30px;
}

/* Temporary */
.logo h2 {
  text-transform: uppercase;
  color: var(--text-color);
}

.logo span {
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight: bold;
}

.configurations {
  flex: 3;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.language,
.info,
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.language {
  flex: 1;
  gap: 10px;
  justify-content: flex-end;
  padding: 0 30px;
}

.language .flag {
  width: 25px;
  height: 25px;
}

.info {
  flex: 1;
}


.profile {
  flex: 1.5;
  gap: 45px;
}

.profile-info .greetings{
  font-size: 14px;
  color: #e0e0e0;
  font-weight: bold;
}

.profile-info .username{
  font-size: 18px;
  font-weight: bold;
  color: var(--accent-color);
}

.profile-picture{
  width: 65px;
  height: 65px;
  border-radius: 10rem;
  display: grid;
  place-items: center;
  background: #eeebeb;
}

.profile-picture .icon{
  color: var(--accent-color);
}



/* Side bar */
.side-bar{
  width: 300px;
  height: 100%;
  background: var(--main-color);
  grid-area: sidebar;
  padding: 30px;
}

.side-list{
  list-style: none;
}

.side-item{
  margin: 20px 0;
  padding: 10px;
  transition: background 0.2s ease-in-out;
  border-radius: 10px;
}

.side-link{
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: #7c7c8d;
  outline: none;
}

.side-item:hover{
  background: var(--accent-color);
}

.side-item:hover .side-link{
  color: #fff;
}


/* Utils */

.icon-container {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 5px;
}

.icon-container:hover {
  background-color: #dadada;
}

.line {
  width: 1.2px;
  height: 40px;
  background-color: #e0e0e0;
}

/* Webkit Configurations */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
