/* Control Center Style Sheet*/

:root {
  --filter-marked-green: brightness(0) saturate(100%) invert(43%) sepia(60%)
    saturate(4241%) hue-rotate(125deg) brightness(103%) contrast(81%);
  --filter-marked-red: brightness(0) saturate(100%) invert(49%) sepia(26%)
    saturate(1267%) hue-rotate(314deg) brightness(98%) contrast(89%);
  --filter-marked-blue: brightness(0) saturate(100%) invert(14%) sepia(75%)
    saturate(2826%) hue-rotate(211deg) brightness(94%) contrast(87%);
  --ejada-dialog-background-color: #f2f4f5;
  --ejada-dialog-text-color: #7f8182;

  /* Background Colors */
  --customer-dialog-red-background-color: rgb(236, 96, 96, 0.18);
  --customer-dialog-green-background-color: rgba(24, 171, 86, 0.18);
  --customer-dialog-blue-background-color: rgba(21, 61, 138, 0.18);

  /* Text Colors */
  --customer-dialog-red-text-color: #ec6060;
  --customer-dialog-green-text-color: #18ab56;
  --customer-dialog-blue-text-color: #153d8a;

  /* View Button */
  --view-chat-button-color: #4777d3;
}

.chat-boxes-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 25px;
}

.chat-box {
  width: 331px;
  height: 461px;
  flex-shrink: 0;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 25px;
}

.chat-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.chat-name {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
}

.chat-head .icon {
  margin-top: -40px;
}

.chat-box:nth-child(1) .chat-head .icon {
  filter: var(--filter-marked-green);
}

.chat-box:nth-child(2) .chat-head .icon {
  filter: var(--filter-marked-red);
}

.chat-box:nth-child(3) .chat-head .icon {
  filter: var(--filter-marked-blue);
}

.chat-box:nth-child(4) .chat-head .icon {
  filter: var(--filter-marked-green);
}

.chat-box:nth-child(5) .chat-head .icon {
  filter: var(--filter-marked-green);
}

.chat-box:nth-child(6) .chat-head .icon {
  filter: var(--filter-marked-red);
}

.chat-box:nth-child(7) .chat-head .icon {
  filter: var(--filter-marked-blue);
}

.chat-box:nth-child(8) .chat-head .icon {
  filter: var(--filter-marked-green);
}

.chat-content {
  width: 100%;
  height: 325px;
  border-radius: 8px;
  border: 1px solid var(--borders-color);
}

.dialog {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.dialog .ejada {
  display: flex;
}

.dialog .ejada .text {
  width: auto;
  height: auto;
  background-color: var(--ejada-dialog-background-color);
  color: var(--ejada-dialog-text-color);
  padding: 15px;
  float: left;
  font-size: 14px;
  margin: 10px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.dialog .customer .text {
  width: auto;
  height: auto;
  padding: 15px;
  float: right;
  font-size: 14px;
  margin: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: right;
}

.dialog .customer.green .text {
  background-color: var(--customer-dialog-green-background-color);
  color: var(--customer-dialog-green-text-color);
}

.dialog .customer.red .text {
  background-color: var(--customer-dialog-red-background-color);
  color: var(--customer-dialog-red-text-color);
}

.dialog .customer.blue .text {
  background-color: var(--customer-dialog-blue-background-color);
  color: var(--customer-dialog-blue-text-color);
}

.chat-footer {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.view-chat-btn {
  display: inline-flex;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  background-color: var(--view-chat-button-color);
  border-radius: 10px;
  outline: none;
  border: none;
  color: var(--white-100, #fff);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
}

.view-chat-btn:hover {
  background-color: rgb(47, 79, 137);
}

/* View Conversation */
.conversations {
  width: 100%;
  position: relative;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "conversation conversation-analysis";
}

.conversation-container {
  width: 975px;
  height: fit-content;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 25px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-area: conversation;
}

.conversation-head {
  margin-bottom: 20px;
}

.conversation-head .conversation-name {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.conversation-container .conversation-box {
  width: 100%;
  height: 575px;
  position: relative;
  box-shadow: none;
  border-radius: 5px;
  border: 1px solid var(--borders-color);
}

.conversation-box .dialog {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.conversation-message {
  width: 100%;
  display: flex;
  gap: 25px;
  padding: 25px;
}

.conversation-input {
  width: 85%;
  height: 60px;
  background: var(--customer-dialog-blue-background-color);
  border-radius: 8px;
  outline: none;
  padding: 0 25px;
  border: none;
  font-size: 16px;
  color: var(--customer-dialog-blue-text-color);
}

.conversation-send-btn {
  width: 89px;
  height: 60px;
  padding: 12px var(--24, 24px);
  gap: 10px;
  color: var(--main-color);
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  flex-shrink: 0;
  background-color: var(--customer-dialog-blue-text-color);
}

.conversation-options {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conversation-options a {
  display: inline-flex;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  background-color: var(--view-chat-button-color);
  border-radius: 10px;
  outline: none;
  border: none;
  color: var(--white-100, #fff);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
}

.conversation-options select {
  display: flex;
  width: 224.01px;
  height: var(--40, 40px);
  padding: 9px 12px;
  align-items: center;
  gap: var(--8, 8px);
  flex-shrink: 0;
  border-radius: var(--8, 8px);
  border: 1px solid #e0e7ed;
  background: var(--white-100, #fff);
  color: var(--customer-dialog-blue-text-color);
}

/* conversation analysis */
.conversation-analysis {
  width: 400px;
  padding: 10px 25px;
  height: 100%;
  background-color: var(--main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-area: conversation-analysis;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.conversation-analysis .conversation-head {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--borders-color);
}

.conversation-analysis .conversation-head .icon {
  margin-top: -60px;
  filter: var(--filter-marked-blue);
}

.analysis-feedback {
  width: 100%;
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 25px;
  border-bottom: 1px solid var(--borders-color);
}

.progress-analysis {
  width: 100%;
  height: 50px;
}

.progress-name {
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 500;
}

.progress-name.red {
  color: var(--customer-dialog-red-text-color);
}

.progress-name.green {
  color: var(--customer-dialog-green-text-color);
}

.progress-name.blue {
  color: var(--customer-dialog-blue-text-color);
}

.progress-container {
  width: 100%;
  height: 15px;
  border-radius: 1rem;
  position: relative;
}

.progress {
  width: 10%;
  border-radius: 1rem;
  height: 100%;
}

.progress-container.red {
  background-color: var(--customer-dialog-red-background-color);
}

.progress.red {
  background-color: var(--customer-dialog-red-text-color);
}

.progress-container.green {
  background-color: var(--customer-dialog-green-background-color);
}

.progress.green {
  background-color: var(--customer-dialog-green-text-color);
}

.progress-container.blue {
  background-color: var(--customer-dialog-blue-background-color);
}

.progress.blue {
  background-color: var(--customer-dialog-blue-text-color);
}

.analysis-options {
  flex: 3;
}

.analysis-options .conversation-head {
  border: none;
}

.analysis-options .conversation-head .conversation-name {
  font-weight: 500;
}

.detected-topics-btn {
  width: 363px;
  background: transparent;
  padding: 10px 20px;
  border: 1px solid var(--customer-dialog-blue-text-color);
  border-radius: 10px;
  color: #4777d3;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  line-height: normal;
}

.detected-topics-btn:hover {
  background-color: var(--customer-dialog-blue-background-color);
}

.star-container {
  width: 100%;
}

.rating {
  width: 100%;
  height: auto;
  border: 1px solid var(--borders-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.rating .icon {
  color: var(--borders-color);
}

.rating .icon.active {
  fill: gold;
  color: gold;
}

@media only screen and (max-width: 1620px) {
  .conversations {
    gap: 25px;
  }

  .conversation-container {
    width: 750px;
  }

  .chat-boxes-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }
}
