:root {
  --filter-marked-green: brightness(0) saturate(100%) invert(43%) sepia(60%)
    saturate(4241%) hue-rotate(125deg) brightness(103%) contrast(81%);
  --filter-marked-red: brightness(0) saturate(100%) invert(49%) sepia(26%)
    saturate(1267%) hue-rotate(314deg) brightness(98%) contrast(89%);
  --filter-marked-blue: brightness(0) saturate(100%) invert(14%) sepia(75%)
    saturate(2826%) hue-rotate(211deg) brightness(94%) contrast(87%);
  --ejada-dialog-background-color: #f2f4f5;
  --ejada-dialog-text-color: #7f8182;

  /* Background Colors */
  --customer-dialog-red-background-color: rgb(236, 96, 96, 0.18);
  --customer-dialog-green-background-color: rgba(24, 171, 86, 0.18);
  --customer-dialog-blue-background-color: rgba(21, 61, 138, 0.18);

  /* Text Colors */
  --customer-dialog-red-text-color: #ec6060;
  --customer-dialog-green-text-color: #18ab56;
  --customer-dialog-blue-text-color: #153d8a;

  /* View Button */
  --view-chat-button-color: #4777d3;
}

.conversations {
  width: 100%;
  position: relative;
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: "conversation ";
}

.conversation-container {
  width: 925px;
  height: fit-content;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 25px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-area: conversation;
}

.conversation-head {
  margin-bottom: 20px;

  display: flex;

  justify-content: flex-start;

  align-items: center;
}

.conversation-title {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.conversation-id:focus {
  outline: none;
}
.conversation-id {
  color: #153d8a;

  padding: 5px;

  width: 300px;

  height: 37px;

  margin-left: 15px;

  border: 2px solid var(--text-color);

  box-shadow: 2px 3px 5px 0px rgba(124, 124, 141, 0.75);

  -webkit-box-shadow: 2px 3px 5px 0px rgba(124, 124, 141, 0.75);

  -moz-box-shadow: 2px 3px 5px 0px rgba(124, 124, 141, 0.75);

  background-color: var(--ejada-dialog-background-color);

  border-radius: 8px;
}

body.active #conversation-id {
  background-color: #2e2e2f !important;
  color: #fff;
}

.conversation-input {
  width: 80%;

  border: none;

  /* border-top: 1px solid #4777d3; */

  font-size: 16px;

  outline: none;

  caret-color: #153d8a;
  background: none;
  color: var(--customer-dialog-blue-text-color);
}
.messege-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.messege-icon {
  width: 45px;
  height: 45px;
  background-color: #a9b8d32a;
  border-radius: 50%;
  margin: 0px 10px;
  text-align: center;
  padding-top: 10px;
}
.mic-icon,
.send-icon {
  color: #153d8a;
}
.conversation-messege-box {
  width: 100%;
  height: 60px;
  padding: 5px 10px;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  /* box-shadow: 0px -3px 3px 1px rgba(71, 119, 211, 0.24);
  -webkit-box-shadow: 0px -3px 3px 1px rgba(71, 119, 211, 0.24);
  -moz-box-shadow: 0px -3px 3px 1px rgba(71, 119, 211, 0.24); */
}

body.active .conversation-messege-box input{
  color: #fff;
}
.conversation-container .conversation-box {
  width: 100%;
  height: 500px;
  position: relative;
  box-shadow: none;
  border-radius: 5px;
  border: 1px solid var(--borders-color);
}
.conversation-box .dialog {
  width: 100%;
  height: 85%;
  overflow-y: scroll;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.dialog {
  display: flex;
  flex-direction: column;
  padding: 15px;
  /* border: red 1px solid; */
}

.dialog .ejada {
  display: flex;
}

.dialog .ejada .text {
  width: auto;
  height: auto;
  background-color: var(--ejada-dialog-background-color);
  color: var(--ejada-dialog-text-color);
  padding: 15px;
  float: left;
  font-size: 14px;
  margin: 10px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.dialog .customer .text {
  width: auto;
  height: auto;
  padding: 15px;
  float: right;
  font-size: 14px;
  margin: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: right;
}

.dialog .customer.green .text {
  background-color: var(--customer-dialog-green-background-color);
  color: var(--customer-dialog-green-text-color);
}

.dialog .customer.red .text {
  background-color: var(--customer-dialog-red-background-color);
  color: var(--customer-dialog-red-text-color);
}

.dialog .customer.blue .text {
  background-color: var(--customer-dialog-blue-background-color);
  color: var(--customer-dialog-blue-text-color);
}
