@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #fff;
  --secondary-color: #f3f7ff;
  --accent-color: #153d8a;
  --light-accent-color: #d3dbe9;
  --text-color: #7c7c8d;
  --accent-text-color: #6482bf;
  --white-filter: brightness(0) invert(1);
  --borders-color: #e0e2e7;

  /* SVG'S Filters */
  --filter-marked-green: brightness(0) saturate(100%) invert(43%) sepia(60%)
    saturate(4241%) hue-rotate(125deg) brightness(103%) contrast(81%);
  --filter-marked-red: brightness(0) saturate(100%) invert(49%) sepia(26%)
    saturate(1267%) hue-rotate(314deg) brightness(98%) contrast(89%);
  --filter-marked-blue: brightness(0) saturate(100%) invert(14%) sepia(75%)
    saturate(2826%) hue-rotate(211deg) brightness(94%) contrast(87%);
  --ejada-dialog-background-color: #f2f4f5;
  --ejada-dialog-text-color: #7f8182;

  /* Background Colors */
  --customer-dialog-red-background-color: rgb(236, 96, 96, 0.18);
  --customer-dialog-green-background-color: rgba(24, 171, 86, 0.18);
  --customer-dialog-blue-background-color: rgba(21, 61, 138, 0.18);

  /* Text Colors */
  --customer-dialog-red-text-color: #ec6060;
  --customer-dialog-green-text-color: #18ab56;
  --customer-dialog-blue-text-color: #153d8a;

  /* View Button */
  --view-chat-button-color: #4777d3;

  /* feedback */
  --light-borders-color: #f1f1f1;
}

body {
  max-width: 100%;
  background: var(--secondary-color);
  transition: all 0.3s ease-in-out;
}

/* Light & Dark Configuration */
body #light-mode {
  display: block;
}

body.active #light-mode {
  display: none;
}

body.active #dark-mode {
  display: block;
}

body #dark-mode {
  display: none;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 100px;
  grid-template-areas:
    "nav nav"
    "sidebar main";
}

/* Navigation bar */

.nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--main-color);
  gap: 20px;
  grid-area: nav;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.search-area {
  flex: 2;
  display: flex;
  height: 100%;
  gap: 35px;
  /* overflow: hidden; */
  justify-content: flex-start;
  align-items: center;
}

.user-area {
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
  /* border-left: 1px solid var(--borders-color); */
  justify-content: flex-end;
  /* gap: 10px; */
}

.search-bar-container {
  width: 350px;
  height: 50px;
  display: flex;
  align-items: center;
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 0 10px;
}

.search-bar {
  width: 100%;
  height: auto;
  font-size: 16px;
  padding: 5px 15px;
  outline: none;
  background: transparent;
  border: none;
  caret-color: var(--accent-color);
}

.search-bar-container .icon {
  color: #7c7c8d;
}

.logo {
  padding: 30px;
}

/* Temporary */

.logo h2 {
  text-transform: uppercase;
  color: var(--text-color);
}

.logo span {
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight: bold;
}

.language,
.info,
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.language {
  flex: 1;
  gap: 10px;
  justify-content: flex-end;
  padding: 0 30px;
}

.language .flag {
  width: 25px;
  height: 25px;
}

.info {
  flex: 1;
  height: 55px;
  border-left: 1px solid #e0e0e0;
}

.profile {
  flex: 1.5;
  border-left: 1px solid #e0e0e0;
  /* gap: 45px; */
  justify-content: center;
}

.profile-info .greetings {
  font-size: 14px;
  color: var(--text-color);
  font-weight: 400;
}

.profile-info .username {
  font-size: 18px;
  font-weight: bold;
  color: var(--accent-color);
}

.profile-picture {
  width: 55px;
  height: 55px;
  border-radius: 10rem;
  display: grid;
  place-items: center;
  background: #eeebeb;
}

.profile-picture .icon {
  color: var(--accent-color);
}

/* Side bar */

.side-bar {
  display: flex;
  width: 270px;
  height: 100%;
  padding: 30px 24px;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  grid-area: sidebar;
  background: var(--main-color);
}

.side-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  list-style: none;
}

.side-item {
  display: flex;
  padding: 7px 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 6px;
}

.side-link {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  text-decoration: none;
  color: #7c7c8d;
  outline: none;
}

.side-item:hover {
  background: #153d8a;
}

.side-item:hover .side-link {
  color: #fff;
}

.side-item:hover .side-link img {
  filter: var(--white-filter);
}

/* content */

main {
  width: 100%;
  height: auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  grid-area: main;
}

.tabs {
  width: 100%;
  height: 70px;
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tabs-list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  gap: 25px;
  padding-left: 25px;
  align-items: center;
}

.tabs-item {
  padding: 7.5px 20px;
  border-radius: 5px;
}

.tabs-link {
  text-decoration: none;
  color: #7c7c8d;
  font-weight: 500;
}

.tabs-item:hover {
  background: var(--light-accent-color);
}

.tabs-item:hover .tabs-link {
  color: var(--accent-color);
}

.tabs-item.active {
  background: var(--light-accent-color);
}

.tabs-item.active .tabs-link {
  color: var(--accent-color);
}

.card-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.card {
  width: 395px;
  height: 130px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
  background: var(--White, #fff);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}

.card .data-type {
  font-size: 14px;
  color: var(--text-color);
}

.goal {
  font-size: 12px;
}

.card .data {
  font-size: 28px;
  color: var(--accent-color);
  font-weight: bold;
}

.filter-container {
  width: 100%;
  height: 70px;
  background-color: var(--main-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-type {
  font-size: 14px;
  color: var(--text-color);
}

.filter-select {
  width: auto;
  height: auto;
  border-radius: 8px;
  background: #f3f7ff;
  color: var(--accent-color);
  outline: none;
  border: none;
  text-align: center;
  padding: 10px 10px;
  margin: 0 10px;
}

.filter-select option {
  text-align: left;
}

.statistics {
  display: grid;
  grid-template-columns: repeat(3, minmax(5px, auto));
  grid-template-rows: auto auto;
  gap: 10px;
  grid-template-areas:
    "kpi user wait"
    "kpi message trends";
}

.stats-card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-head {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.card-head .title {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

#kpi {
  width: auto;
  height: 100%;
  flex-shrink: 0;
  background-color: var(--main-color);
  grid-area: kpi;
}

#user-satisfaction {
  width: auto;
  height: 387px;
  flex-shrink: 0;
  background-color: var(--main-color);
  grid-area: user;
}

#wait-times {
  width: auto;
  height: 387px;
  flex-shrink: 0;
  background-color: var(--main-color);
  grid-area: wait;
}

#message-analysis {
  width: auto;
  height: 387px;
  flex-shrink: 0;
  background-color: var(--main-color);
  grid-area: message;
}

#trends {
  width: auto;
  height: 387px;
  flex-shrink: 0;
  background-color: var(--main-color);
  grid-area: trends;
}

/* Utils */

.icon-container {
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 5px;
}

.icon-container:hover {
  background-color: #dadada;
}

.line {
  width: 1.2px;
  height: 40px;
  background-color: #e0e0e0;
}

.heading {
  color: var(--accent-text-color);
  font-size: 26px;
}

.heading .path {
  font-weight: 400;
  color: var(--text-color);
}

/* Webkit Configurations */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.chat-boxes-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 50px;
}

.chat-box {
  min-width: 100%;
  max-height: 500px;
  flex-shrink: 0;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 25px;
}

.chat-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  margin-bottom: 20px;
}

.chat-name {
  font-weight: 600;
  font-size: 16px;
  color: var(--text-color);
}

.chat-head .icon {
  position: absolute;
  top: -25px;
  right: 0;
}

.chat-box:nth-child(1) .chat-head .icon {
  filter: var(--filter-marked-green);
}

.chat-box:nth-child(2) .chat-head .icon {
  filter: var(--filter-marked-red);
}

.chat-box:nth-child(3) .chat-head .icon {
  filter: var(--filter-marked-blue);
}

.chat-box:nth-child(4) .chat-head .icon {
  filter: var(--filter-marked-green);
}

.chat-box:nth-child(5) .chat-head .icon {
  filter: var(--filter-marked-green);
}

.chat-box:nth-child(6) .chat-head .icon {
  filter: var(--filter-marked-red);
}

.chat-box:nth-child(7) .chat-head .icon {
  filter: var(--filter-marked-blue);
}

.chat-box:nth-child(8) .chat-head .icon {
  filter: var(--filter-marked-green);
}

.chat-content {
  width: 100%;
  max-height: 350px;
  border-radius: 8px;
  border: 1px solid var(--borders-color);
  overflow-y: scroll;
}

.play-options {
  display: flex;
  width: fit-content;
  width: 100%;
  padding: 10px;
  border-radius: 100%;
  gap: 5px;
}

.play-options .option .icon {
  width: 25px;
  height: 25px;
}

.play-options .pause,
.play-options .stop {
  display: none;
}

.play-options.active .pause,
.play-options.active .stop {
  display: block;
}

.play-options .play-options.active {
  display: block;
}

.play-options.active .play {
  display: none;
}

.dialog {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.dialog .ejada {
  display: flex;
}

.conversations .dialog .ejada {
  flex-direction: column;
}

.dialog .ejada div {
  display: flex;
  align-items: center;
}

.play-button {
  display: flex;
  width: 45px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.play-button .icon {
  height: 15px;
}

.ejada .play-button {
  background-color: var(--ejada-dialog-background-color);
}

.ejada .play-button .icon {
  fill: var(--ejada-dialog-text-color);
  color: var(--ejada-dialog-text-color);
}

.customer .play-button {
  background-color: var(--customer-dialog-blue-background-color);
}

.customer .play-button .icon {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.dialog .ejada .text {
  width: auto;
  height: auto;
  background-color: var(--ejada-dialog-background-color);
  color: var(--ejada-dialog-text-color);
  padding: 15px;
  float: left;
  font-size: 14px;
  margin: 10px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.dialog .customer .text {
  width: auto;
  height: auto;
  padding: 15px;
  float: right;
  font-size: 14px;
  margin: 10px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  text-align: right;
}

.customer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dialog .customer div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.customer div .customer-icon {
  background-color: var(--customer-dialog-blue-background-color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  border-top-right-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 10px;
}

.customer div .customer-icon .icon {
  color: var(--accent-color);
  height: 20px;
}

.dialog .customer.green .text {
  background-color: var(--customer-dialog-green-background-color);
  color: var(--customer-dialog-green-text-color);
}

.dialog .customer.red .text {
  background-color: var(--customer-dialog-red-background-color);
  color: var(--customer-dialog-red-text-color);
}

.dialog .customer.blue .text {
  background-color: var(--customer-dialog-blue-background-color);
  color: var(--customer-dialog-blue-text-color);
}

.dialog .customer.green div .customer-icon {
  background-color: var(--customer-dialog-green-background-color);
}

.dialog .customer.green div .customer-icon .icon {
  color: var(--customer-dialog-green-text-color);
}

.dialog .customer.red div .customer-icon {
  background-color: var(--customer-dialog-red-background-color);
}

.dialog .customer.red div .customer-icon .icon {
  color: var(--customer-dialog-red-text-color);
}

.dialog .customer.blue div .customer-icon {
  background-color: var(--customer-dialog-blue-background-color);
}

.dialog .customer.blue div .customer-icon .icon {
  color: var(--customer-dialog-blue-text-color);
}

.chat-footer {
  width: 100%;
  height: fit-content;
  padding: 20px 0;
}

.view-chat-btn {
  display: inline-flex;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  background-color: var(--view-chat-button-color);
  border-radius: 10px;
  outline: none;
  border: none;
  color: var(--white-100, #fff);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
}

.view-chat-btn:hover {
  background-color: rgb(47, 79, 137);
}

/* View Conversation */
.conversations {
  width: 100%;
  display: none;
}

.chat-boxes-container.active {
  display: none;
}

.conversations.active {
  justify-content: space-evenly;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "conversation conversation-analysis";
}

.conversation-container {
  width: 975px;
  height: fit-content;
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 25px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-area: conversation;
}

.conversation-container .conversation-head {
  margin-bottom: 20px;
}

.conversation-head .conversation-name {
  color: var(--text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.conversation-container .conversation-box {
  width: 100%;
  height: auto;
  position: relative;
  box-shadow: none;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--borders-color);
}

.conversation-box .dialog {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.message-date p {
  color: var(--text-color);
  font-size: 10px;
  margin-left: 50px;
}

.customer .message-date {
  margin-right: 50px;
}

.conversation-message {
  width: auto;
  display: flex;
  gap: 25px;
  padding: 25px;
}

.conversation-input {
  width: 85%;
  height: 60px;
  background: var(--secondary-color);
  border-radius: 25px;
  outline: none;
  padding: 0 25px;
  border: none;
  font-size: 16px;
  color: var(--customer-dialog-blue-text-color);
}

.conversation-send-btn {
  width: 89px;
  height: 58px;
  padding: 12px var(--24, 24px);
  gap: 10px;
  color: var(--main-color);
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  flex-shrink: 0;
  background-color: var(--customer-dialog-blue-text-color);
}

.conversation-options {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conversation-options a {
  display: inline-flex;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  background-color: var(--view-chat-button-color);
  border-radius: 10px;
  outline: none;
  border: none;
  color: var(--white-100, #fff);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  line-height: normal;
}

.conversation-options select {
  display: flex;
  width: 224.01px;
  height: var(--40, 40px);
  padding: 9px 12px;
  align-items: center;
  gap: var(--8, 8px);
  flex-shrink: 0;
  border-radius: var(--8, 8px);
  border: 1px solid #e0e7ed;
  background: var(--white-100, #fff);
  color: var(--customer-dialog-blue-text-color);
}

/* conversation analysis */
.conversation-analysis {
  width: 400px;
  padding: 10px 25px;
  height: 100%;
  background-color: var(--main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  grid-area: conversation-analysis;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.conversation-analysis .conversation-head {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--borders-color);
  position: relative;
}

.conversation-analysis .conversation-head .icon {
  position: absolute;
  right: 0;
  top: -10px;
  filter: var(--filter-marked-blue);
}

.conversation-selection {
  width: 100%;
  height: 100px;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--borders-color);
}

.selection-container {
  display: flex;
  border: 1px solid var(--view-chat-button-color);
  border-radius: 5px;
  overflow: hidden;
}

.selection-container .selection-btn {
  width: 100px;
  padding: 5px;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-weight: 400;
  color: var(--ejada-dialog-text-color);
  cursor: pointer;
}

.selection-container .selection-btn.active {
  color: var(--accent-color);
  background: var(--customer-dialog-blue-background-color);
}

.analysis-feedback {
  width: 100%;
  display: flex;
  flex: 3;
  flex-direction: column;
  gap: 25px;
}

.feedback-list {
  list-style: none;
}

.feedback {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 1px solid var(--light-borders-color);
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.feedback-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feedback-info .classification {
  font-size: 14px;
  font-weight: 400;
  padding: 5px 15px;
  color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.feedback-info .classification.red {
  background-color: var(--customer-dialog-red-background-color);
  color: var(--customer-dialog-red-text-color);
}

.feedback-info .dropdown {
  color: var(--text-color);
}

.feedback .dropdown .feedback-arrow.active {
  transform: rotate(90deg);
}

.feedback .type-of-feedback {
  color: var(--text-color);
}

.feedback-content {
  display: none;
}

.feedback-content.active {
  border: 1px solid var(--light-borders-color);
  border-radius: 5px;
  height: auto;
  padding: 0 25px;
  margin: 10px 0;
  position: relative;
  display: block;
}

.progress-analysis {
  width: 100%;
  margin: 35px 0;
}

.progress-name {
  text-transform: uppercase;
  font-weight: 500;
  margin: 10px 0;
}

.progress-name.red {
  color: var(--customer-dialog-red-text-color);
}

.progress-name.green {
  color: var(--customer-dialog-green-text-color);
}

.progress-name.blue {
  color: var(--customer-dialog-blue-text-color);
}

.progress-container {
  width: 100%;
  height: 15px;
  border-radius: 1rem;
  position: relative;
}

.progress {
  width: 10%;
  border-radius: 1rem;
  height: 100%;
}

.progress-container.red {
  background-color: var(--customer-dialog-red-background-color);
}

.progress.red {
  background-color: var(--customer-dialog-red-text-color);
}

.progress-container.green {
  background-color: var(--customer-dialog-green-background-color);
}

.progress.green {
  background-color: var(--customer-dialog-green-text-color);
}

.progress-container.blue {
  background-color: var(--customer-dialog-blue-background-color);
}

.progress.blue {
  background-color: var(--customer-dialog-blue-text-color);
}

.analysis-options {
  flex: 3;
}

.analysis-options .conversation-head {
  border: none;
}

.analysis-options .conversation-head .conversation-name {
  font-weight: 500;
}

.detected-topics-btn {
  width: 363px;
  background: transparent;
  padding: 10px 20px;
  border: 1px solid var(--customer-dialog-blue-text-color);
  border-radius: 10px;
  color: #4777d3;
  text-align: center;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  cursor: pointer;
  line-height: normal;
}

.detected-topics-btn:hover {
  background-color: var(--customer-dialog-blue-background-color);
}

.star-container {
  width: 100%;
}

.rating {
  width: 100%;
  height: auto;
  border: 1px solid var(--borders-color);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.rating .icon {
  color: var(--borders-color);
}

.rating .icon.active {
  fill: gold;
  color: gold;
}

.statistics-insights-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
  grid-template-areas:
    "kpi success-rate"
    "avgNumber avgNumber"
    "intent rate-intent"
    "sentiment sentiment-rate";
}
.statistics-container h4 {
  color: var(--accent-text-color);
  font-size: 26px;
}

.statistics-insights-container .card {
  width: 100%;
  height: 400px;
  display: block;
  /* background-color: blue; */
}
.statistics-insights-container .card .card-head {
  /* height: 40px; */
  padding: 0;
  padding-bottom: 15px;
}

.side-bar {
  height: 100%;
}

.statistics-insights-container .average-conversation-card {
  /*! grid-column: 1 / span 2; */
  width: 100%;
}

.statistics-chart-nav {
  width: 180px;
  height: 25px;
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}
.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kpi-card {
  grid-area: kpi;
}

.success-rate-card {
  grid-area: success-rate;
}

.average-conversation-card {
  grid-area: avgNumber;
}

.intent-card {
  grid-area: intent;
}

.success-rate-intent-card {
  grid-area: rate-intent;
}

.sentiment-card {
  grid-area: sentiment;
}

.sentiment-rate-intent-card {
  grid-area: sentiment-rate;
}

.table-container {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: var(--main-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 25px;
  padding: 25px;
}

.table-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.data-show-select-container {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: nowrap;
}

.data-show-select-container span {
  color: var(--text-color);
}

.data-show-select-container select {
  padding: 5px 15px;
  outline: none;
  border: 1px solid var(--borders-color);
  color: var(--accent-color);
  border-radius: 7px;
}

.data-search-bar-container {
  border: 1px solid var(--borders-color);
  padding: 5px 5px 5px 10px;
  width: 300px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  color: var(--text-color);
}

.data-search-bar-container input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: var(--text-color);
}

table tbody tr th td {
  box-sizing: border-box;
}

table.data-table {
  width: 100%;
  white-space: nowrap;
  border-radius: 10px;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid var(--borders-color);
  overflow: hidden;
}

table.data-table tbody {
  border: 2px solid var(--borders-color);
  border-collapse: separate;
  border-spacing: 4px;
}

th {
  text-align: left;
  padding-left: 25px;
  color: var(--customer-dialog-blue-text-color);
}

tr.headers {
  height: 100px;
  background-color: var(--light-accent-color);
  border-bottom: 1px solid var(--borders-color);
}

.data-table tr.filters input {
  border: 1px solid var(--borders-color);
  padding: 5px 5px 5px 10px;
  width: 85%;
  height: 35px;
  margin: 25px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  outline: none;
  border-radius: 5px;
  color: var(--text-color);
}

tr.filters {
  border-bottom: 1px solid var(--borders-color);
}

tr.data {
  border-bottom: 1px solid var(--borders-color);
}

tr.data td {
  color: var(--text-color);
  padding: 20px;
}

.data-table tr.filters td,
.data-table tr.data td {
  border-bottom: 1px solid var(--borders-color);
}

.data-table tr.data:last-child td {
  border: none;
}

tr.data td:nth-child(4) {
  text-align: center;
}

.data-sentiment .data {
  font-weight: bold;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 10px;
}

.data-sentiment .data.blue {
  color: var(--customer-dialog-blue-text-color);
  background-color: var(--customer-dialog-blue-background-color);
}

.data-sentiment .data.red {
  color: var(--customer-dialog-red-text-color);
  background-color: var(--customer-dialog-red-background-color);
}

.data-sentiment .data.green {
  color: var(--customer-dialog-green-text-color);
  background-color: var(--customer-dialog-green-background-color);
}

@media only screen and (max-width: 1620px) {
  .container {
    grid-template-columns: 270px minmax(950px, auto);
  }

  .card-container {
    justify-content: space-between;
  }

  .card {
    width: 30%;
  }

  .conversations {
    gap: 25px;
  }

  .conversation-container {
    width: 750px;
  }
}
